﻿.form-control
{
    width:70% !important;
    margin-left:15%!important;
}

label
{
    margin-left:15%!important;
}

/* Style the submit button */
Button {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

.ubah
{
    margin-left:15% !important; 
    background-color:#5687ea !important; 
    border-radius:10px !important;
    width:85px !important;
    height:35px !important;
    color:white;
}

.ubah2 {
    margin-left: 15% !important;
    background-color: #5687ea !important;
    border-radius: 10px !important;
    width: 150px !important;
    height: 35px !important;
    color: white;
}

h3,h4
{
    padding-left: 15%;
}

body{
    background-color:white;
    height: 100%;
    width: 100%;
}

.container
{
    width:100% !important;
    margin-right:0px!important;
    margin-left:0px!important;
}



/* Breadcrumb */
.breadcrumb{
  background:#cccccc;
  color:#333333;
}

.breadcrumb a{
  color:#333333;
}

/* Progress Bars */
.progress-bar{
  background:#333333;
  color:#ffffff;
}

.dash-box{
  text-align:center;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffbbbc;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffbbbc;
    background-color: #c0392b;
  }

  .col-25, .col-75, button, TextBox {
    width: 100%;
    margin-top: 0;
  }
}



TextBox{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}



/* Style the submit button */
button, TextBox {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}



.row
{
    margin-right:0px !important;
    margin-left:0px !important;
}

.colmd8
{
    background-color:#eeeeee !important;
    border-radius:20px !important;
}

