﻿

.myupload
{
    margin-top:10px;
}

.mybutton
{
    background-color:#0094ff;
    color:white;
    margin-top:25px;
    border-radius:5px;
    width:100px;
}

.mybutton:hover
{
    color:#0094ff;
    background-color:white;
    border-color:#0094ff;
}

.mylabel
{
    color:red;
}

body{
    background-color:white;
    height: 100%;
    width: 100%;
}

.container
{
    width:98% !important;
    margin-left:0px !important;
    margin-right:0px !important;
}



/* Breadcrumb */
.breadcrumb{
  background:#cccccc;
  color:#333333;
}

.breadcrumb a{
  color:#333333;
}

/* Progress Bars */
.progress-bar{
  background:#333333;
  color:#ffffff;
}

.dash-box{
  text-align:center;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffbbbc;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffbbbc;
    background-color: #c0392b;
  }

  .col-25, .col-75, button, TextBox {
    width: 100%;
    margin-top: 0;
  }
  dropdown
  {

  }
}



TextBox{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}



/* Style the submit button */
button, TextBox {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}



.row
{
    margin-right:0px !important;
    margin-left:0px !important;
}
{
    margin-bottom:5px !important
}

