﻿.box
{
    width:200px;
}

.myadd
{
    background-color:#0d1463;
    color:white;
    margin-left:10px;
    margin-top:25px;
    border-radius:5px;
    width:70px;
}

.myadd:hover
{
    color:#0d1463;
    background-color:white;
    border-color:#0d1463;
    font-weight:bold;
}

.label
{
    color:red;
}

.datauniversitas 
{
    width:90%;
    margin:0 auto;
    border:none;
    text-align:center;
}

th
{
    border:none;
    background-color:#2d3bac;
    font-size:20px;
    color:white;
    font-family:Arial;
    font-weight:normal;
}

td
{
    border:none;
}

tr:nth-child(even) 
{
    background-color: #dedddd;
}

tr:hover 
{
    background-color: #0d1463;
    color:white;
}

.mydetail
{
   text-decoration:none;
   background-color:#e62a2a;
   color:white;
   font-size:12px;
   border-radius:5px;
}

.mydetail:hover
{
   background-color:white;
   color:#e62a2a;
   border: 1px solid #e62a2a ;
   text-decoration:none;
}

.mydetail2
{
   text-decoration:none;
   background-color:#0094ff;
   color:white;
   font-size:12px;
   border-radius:5px;
}

.mydetail2:hover
{
   background-color:white;
   color:#0094ff;
   border: 1px solid #0094ff ;
   text-decoration:none;
}

.container
{
    width:80% !important;
    margin-left:10% !important;
    margin-right:0px !important;
}

.col-md-6
{
    padding-left:0px !important;
    padding-right:0px !important;
}

.form-group
{
    margin-bottom:0px !important;
}

