﻿#success_message{ display: none;}

.row
{
    margin-left:0px !important;
    margin-right:0px !important;
}

.container
{
    margin-left:0px!important;
    margin-right:0px!important;
    width:100% !important;
}

.two
{
  height: 50%;
  width: 50%;
}

.mylabel {
    color: black;
    /*margin-left: 10px;*/
    width: 160px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size:18px;
    /*border: 1px solid #000000;*/
}

.below-attachment {
    margin-top:10px;
    display: flex;
}

.below-attachment p {
    font-size:20px;
}

.mybutton
{
    background-color:#0094ff;
    color:white;
    margin-left:10px;
    border-radius:5px;
    width:100px;
}

.mybutton:hover
{
    color:#0094ff;
    background-color:white;
    border-color:#0094ff;
}

.mybutton1
{
    background-color:red;
    color:white;
    margin-left:10px;
    border-radius:5px;
    width:100px;
}

.mybutton1:hover
{
    color:red;
    background-color:white;
    border-color:red;
}

span{
    vertical-align:baseline;
}