﻿body{
    background-image: url('Aset/blockchain.jpg') !important;
    background-size: cover !important;
    height: 100%;
    width: 100%;
}

.container
{
    margin-right:0% !important;
    margin-left:0px;
    width:100% !important
}

/* Navbar */
.navbar{
  margin-bottom:0 !important;
  font-size:16px !important;
  background-color: black;
  border-color:black;
  padding-top:20px !important;
}

.navbar-nav > li > a
{
    padding-top:5px !important;
    padding-bottom:5px !important;
    margin-right:5px !important;
}

ul li a
{
    text-decoration: none;
    color:white;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition:0.5s ease;
    border-bottom-color:white;
}

ul li a:hover
{
    background-color:white;
    color:black;
    text-decoration:none;
}

.navbar-default .navbar-nav > li > a {
  color: white;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: black;
  background:white;
  transition:0.5s ease;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffbbbc;
  background-color: #c0392b;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffbbbc;
  background-color: #c0392b;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: black;
}


/* Header */
#header{
  background:#333333;
  color:#ffffff;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

#header .create{
  padding-top: 20px;
}

/* Breadcrumb */
.breadcrumb{
  background:#cccccc;
  color:#333333;
}

.breadcrumb a{
  color:#333333;
}

/* Progress Bars */
.progress-bar{
  background:#333333;
  color:#ffffff;
}

.dash-box{
  text-align:center;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffbbbc;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffbbbc;
    background-color: #c0392b;
  }

  .col-25, .col-75, button, TextBox {
    width: 100%;
    margin-top: 0;
  }
}

.panel-default
{
    border-style:none !important;
    border:0 !important;
    font-size:15px !important;
    background:none;
    color:white;
}

.card-img-top
{
    height:90px;
    padding-right:35% !important;
    padding-left:36% !important;
}

.back
{
    background-color:white;
    color:black;
    border-radius:30px;
}

.panel-body
{
    padding:0px !important;
}


TextBox{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

/* Style the label to display next to the inputs */
label {
  padding: 12px 0px 0px 0;
  display: inline-block;
}

/* Style the submit button */
button, TextBox {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

/* Floating column for labels: 25% width */
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
  margin-left:5%;
}

/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  width: 90%;
  margin-top: 6px;
  margin-left:5%;
  margin-right:5%;
}

.dalam
{
    margin:15px;
}


center
{
    font-size:19px;
}

h2 {
    font-family: Arial, Verdana;
    font-weight: 800;
    font-size: 2.5rem;
    color: white;
    text-transform: uppercase;
}
.accordion-section .panel-default > .panel-heading {
    border: 0;
    background: #f4f4f4;
    padding: 0;
}
.accordion-section .panel-default .panel-title a {
    display: block;
    font-style: italic;
    font-size: 1.5rem;
}
.accordion-section .panel-default .panel-title a:after {
    font-family: 'FontAwesome';
    font-style: normal;
    font-size: 3rem;
    content: "\f106";
    color: #1f7de2;
    float: right;
    margin-top: -12px;
}
.accordion-section .panel-default .panel-title a.collapsed:after {
    content: "\f107";
}
.accordion-section .panel-default .panel-body {
    font-size: 1.2rem;
}

p
{
    color:white;
    font-size:15px !important;
}

.collapsed
{
    font-size:17px !important
}

.accordion-section .panel-default .panel-title a
{
    background:black;
    color:white;
}

.col-md-5
{
    padding-left:0px!important;
    padding-right:0px!important;
}