﻿.table
{
    width:90% !important;
    margin: 0 auto !important;
}

.tombol
{
    background:#0d1463;
    color:white;
    border-bottom:5px solid #2542a0;
    padding:10px 20px;
    text-decoration:none;
    font-size:15px;
}

.tombol:hover
{
    color:black;
    background:white;
    text-decoration:none;
}

.mydata 
{
    width:90%;
    margin:0 auto;
    border:none;
}

th
{
    border:none;
    background-color:#0094ff;
    font-size:20px;
    color:white;
    font-family:Arial;
    font-weight:normal;
}

td
{
    border:none;
}

tr:nth-child(even) 
{
    background-color: #dedddd;
}

tr:hover 
{
    background-color: #0d1463;
    color:white;
}

.mydetail
{
   text-decoration:none;
   background-color:#e62a2a;
   color:white;
   font-size:12px;
   border-radius:5px;
}

.mydetail:hover
{
   background-color:white;
   color:#e62a2a;
   border: 1px solid #e62a2a ;
   text-decoration:none;
}