﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterpageCoba.Master" AutoEventWireup="true" CodeBehind="Home2.aspx.cs" Inherits="Blockchain_New.Home2" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    <title>Home Admin</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link href="Home2style.css" rel="stylesheet" />
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"/>
    <script src="https://kit.fontawesome.com/16b5cf1a92.js" crossorigin:"anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet"/>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <div class="selamat">
        <asp:Label ID="Label1" runat="server"></asp:Label>
    </div>
<br />

<img src="Aset/gambar2.jpg" class="rounded float-left" alt="" style="margin-left:7.5%; width:25%; height:90%;"/>
<img src="Aset/gambar1.jpg" class="rounded float-left" alt="" style="margin-left:5%; width:25%; height:90%;"/>
<img src="Aset/gambar3.jpg" class="rounded float-left" alt="" style="margin-left:5%; width:25%; height:90%;"/>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
    <script src="bootstrap/js/bootstrap.js"></script>
    <script src="bootstrap/js/jquery.js"></script>
    <script src="bootstrap/js/popper.js"></script>

</asp:Content>
