﻿.table
{
    width:90% !important;
    margin: 0 auto !important;
}

.tombol
{
    background:#0d1463;
    color:white;
    border-bottom:5px solid #2542a0;
    padding:10px 20px;
    text-decoration:none;
    font-size:15px;
}

.tombol:hover
{
    color:black;
    background:white;
    text-decoration:none;
}

.mydata 
{
    width:90%;
    margin:0 auto;
    border:none;
}

th {
    border: none;
    background-color: #0094ff;
    font-size: 20px;
    color: white;
    font-family: Arial;
    font-weight: normal;
    padding-left: 1% !important;
    padding-right: 1% !important;
    padding-top: 0.3% !important;
    padding-bottom: 0.3% !important;
}

td {
    border: none;
    padding-left: 1% !important;
    padding-right: 1% !important;
    padding-top: 0.3% !important;
    padding-bottom: 0.3% !important;
}

.mydetail {
    text-decoration: none;
    background-color: #0094ff;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    padding: 0.2% 6% 0.2% 6% !important;
}

.mydetail:hover
{
   background-color:white;
   color:#0094ff;
   border: 2px solid #0094ff ;
   text-decoration:none;
}

tr:nth-child(even) 
{
    background-color: #dedddd;
}

tr:hover 
{
    background-color: #0d1463;
    color:white;
}