﻿.selamat
{
    text-align:center;
    font-family: 'Raleway', sans-serif;
    font-size:30px;
    margin-top:20px;
}

img:hover 
{
    border: 2px solid white;
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}