﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Masterpage2.master.cs" Inherits="Blockchain_New.Masterpage2" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link href="Masterstyle.css" rel="stylesheet" />
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link rel="Icon" href="Aset/favicon.png" type="image/png" /> 
    <script src="https://kit.fontawesome.com/16b5cf1a92.js" crossorigin:"anonymous"></script>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
    <header id="header">
        <div class="row">
          <div class="col-md-10">
<div style="align: justify; color:white; width:100%; font-size:25px !important">
<img height="100" src="Aset/Logo.jpeg" style="float: left; margin-right:9px; height:70px; width:100px" />Blockchain based <br />Certificate Management</div>
          </div>
        </div>
    </header>

    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
          </ul>
          <ul class="nav navbar-nav">
            <li><a href="Home4.aspx"><i class="fa fa-home" aria-hidden="true"></i>&nbsp;Home</a></li>
            <li><a href="Add2.aspx"><i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp;Add</a></li>
            <li><a href='ProfilInstansi.aspx'><i class="fa fa-user-circle" aria-hidden="true"></i>&nbsp;Profil</></a></li>
            <li><asp:Button class="out" ID="ButtonLogout" runat="server" Text="Logout" OnClick="ButtonLogout_Click" formnovalidate /></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

        <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
        
        </asp:ContentPlaceHolder>
<br />
<br />
<br />
<br />
<br />


    <div class="footer">
      <div class="containerr">
        <div class="row">
          <div class="col-md-6">
            <p>ADDRESS</p>

            <div class="containerr">
              <div class="row">
                <div class="col-md-5">
                            <ul class="list-unstyled">
                              <li>
                                  <i class="fas fa-home mr-3"></i> Kuningan, Jakarta
                              </li>
                              <li>
                                  <i class="fas fa-envelope mr-3"></i> cs@bisnistekno.co.id
                              </li>
                            </ul>
                </div>
                    
                <div class="col-md-7">
                            <ul class="list-unstyled">
                              <li>
                                  <i class="fas fa-phone mr-3"></i> Telp 021-5682-703
                              </li>
                              <li>
                                  <i class="fas fa-print mr-3"></i> Fax 021-560-2810
                              </li>
                            </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6">
              <p>INFORMASI</p>
            <div class="containerr">
              <div class="row">
                <div class="col-md-12">
                   Blockchain Document Management ini disediakan Bisnis Tekno Utama
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <p><center>© 2020 Copyright: Bisnis Tekno Utama</center></p>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </form>
</body>
</html>
