﻿body{
    background-color:white;
    height: 100%;
    width: 100%;
}

.container
{
    margin-right:3% !important;
    margin-left:35px !important;
}

/* Navbar */
.navbar{
  margin-bottom:0 !important;
  font-size:16px !important;
  background-color: black !important;
  border-color:black !important;
  padding-top:5px !important;
  min-height:45px !important;
  border-radius:0px !important;
}

.navbar-nav > li > a
{
    padding-top:5px !important;
    padding-bottom:5px !important;
    margin-right:5px !important;
}

ul li a
{
    text-decoration: none;
    color:white !important;
    padding: 5px 20px;
    transition:0.5s ease;
    font-size:20px !important;
}

ul li a:hover
{
    background-color:white !important;
    color:black !important;
    text-decoration:none;
}

.navbar-default .navbar-nav > li > a {
  color: white;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: black;
  background:white;
  transition:0.5s ease;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffbbbc;
  background-color: #c0392b;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffbbbc;
  background-color: #c0392b;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: black;
}


/* Header */
#header{
  background-color: #0d1463;
  color:#ffffff;
  padding-bottom: 10px;
  padding-left:5px;
}

/* Breadcrumb */
.breadcrumb{
  background:#cccccc;
  color:#333333;
}

.breadcrumb a{
  color:#333333;
}

/* Progress Bars */
.progress-bar{
  background:#333333;
  color:#ffffff;
}

.dash-box{
  text-align:center;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffbbbc;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffbbbc;
    background-color: #c0392b;
  }

  .col-25, .col-75, button, TextBox {
    width: 100%;
    margin-top: 0;
  }
}

.panel-default
{
    border-style:none !important;
    border:0 !important;
    font-size:15px !important;
    background:none;
    color:white;
}

.panel-body
{
    padding:0px !important;
}


TextBox{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

/* Style the label to display next to the inputs */
label {
  padding: 12px 0px 0px 0;
  display: inline-block;
}

/* Style the submit button */
button, TextBox {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

/* Footer */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:black;
  color:white;
}

img
{
    width:60px;
    height:60px;
}

.col-md-10
{
    font-size:40px !important;
    padding-top:18px;
    padding-bottom:10px;
}

.row
{
    margin-right:0px !important;
    margin-left:0px !important;
}

.out
{
    color:white;
    background-color:black;
    border:none;
    font-size:20px;
}

.out:hover
{
    background-color:white;
    color:black;
}

.containerr
{
    width:100%;
    margin:auto;
    background-color:#111111;
}

.satu
{
    width:45%;
    float:left;
}

.dua
{
    width:45%;
    float:left;
}

p
{
    margin-bottom:5px !important
}

.btn-default
{
    background-color:black!important;
    color:white!important;
    border-style:none !important;
    font-size:20px !important;
    padding-top:1px !important;
    margin-right:5px !important
}

.btn-default:hover
{
    background-color:white!important;
    color:black!important;
    border-style:none !important;
    border-radius:0px !important;
    padding-bottom:1px !important;
}

.open > .dropdown-menu
{
    background-color:black !important;
    color:white!important
}

.konten
{
    background-color:black;
    height:60px;
}
	
h6
{
    font-size:20px !important;
    font-weight:bold !important;
}

.dropdown-header
{
    padding-bottom:0px !important
}
