﻿.container
{
    width:100% !important;
    margin-right:0px!important;
    margin-left:0px!important;
}

.button:hover
{
    color:white;
    background-color:black;
    border-color:white;
}

label
{
    margin-left:5% !important; color:black;
}

.send
{
    background-color:#0094ff;
    color:white;
    margin-left:10px;
    margin-top:25px;
    border-radius:5px;
    width:100px;
}

.send:hover
{
    color:#0094ff;
    background-color:white;
    border-color:#0094ff;
}

label textarea
{
    vertical-align: middle;
}